.heading {
  padding-left: 40px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  height: 50px;
}

li {
  display: inline;
  float: left;
  padding-left: 50px;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
}
